@model Tuple<Coloc.Models.AspNetUsers, Coloc.Models.UserTasks>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details des tâches</h2>

<div>
    <h4>@Html.DisplayFor(tuple => tuple.Item1.UserName)</h4>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Tâches
            </th>
            <th>
                Débute le
            </th>
            <th>
                Termine le
            </th>
            <th>
                Statut
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody id="show-usertasks-todo">
        @foreach (var task in Model.Item1.UserTasks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => task.Task.Description)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => task.BeginTask)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => task.EndTask)
                </td>
                <td>
                    @UserTasks.stateToString(task.State)
                </td>
                <td>
                    <a asp-controller="UserTasks" asp-action="Edit" asp-route-id="@task.Id">Modifier</a> |
                    <a asp-controller="UserTasks" asp-action="Delete" asp-route-id="@task.Id">Supprimer</a>
                </td>
            </tr>
        }

    </tbody>
</table>

<div class="row">
    <div class="d-flex align-items-center justify-content-between col-sm-12">
        <!-- <div>
             <h2>Ajouter tâche</h2>
         </div> -->
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#add-task-user" aria-expanded="false" aria-controls="collapseExample">
            Ajouter une tâche
        </button>
    </div>
</div>

<!-- Add jquery/ajax button to create a new task directly assigned to the todo -->
<div class="row">
    <div class="collapse col-sm-12 mt-3" id="add-task-user">
        <div class="card card-body">
            <form id="task-user-add">
                <input id="userId" name="userId" value="@Model.Item1.Id" class="hidden" />
                <div class="row">
                    <div class="form-group col-sm-10">
                        <label asp-for="Item2.TaskId" class="control-label"></label>
                        <select id="taskId" asp-for="Item2.TaskId" class="form-control" asp-items="ViewBag.TaskId"></select>
                        <span asp-validation-for="Item2.TaskId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-10">
                        <label asp-for="Item2.BeginTask" class="control-label"></label>
                        <input type="date" id="beginDate" name="beginDate" asp-for="Item2.BeginTask" class="form-control" />
                        <span asp-validation-for="Item2.BeginTask" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-10">
                        <label asp-for="Item2.EndTask" class="control-label"></label>
                        <input type="date" id="endDate" name="endDate" asp-for="Item2.EndTask" class="form-control" />
                        <span asp-validation-for="Item2.EndTask" class="text-danger"></span>
                    </div>
                    @*<div class="form-group col-sm-10">
            <label asp-for="Item2.State" class="control-label"></label>
            <input id="state" name="state" asp-for="Item2.State" class="form-control" />
            <span asp-validation-for="Item2.State" class="text-danger"></span>
        </div>*@
                </div>
            </form>
            <div class="row">
                <div class="form-group col-sm-12 d-flex justify-content-end align-items-end m-0">
                    <button id="add-task-user-button" class="btn btn-warning " type="button">Ajouter</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<environment include="Development">
    <script src="~/js/tasksUser.js" asp-append-version="true"></script>
</environment>

