@model Coloc.Models.Todos

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2>Liste des tâches - @Html.DisplayFor(model => model.Title)</h2>

    <hr />
    <h4>
        @Html.DisplayFor(model => model.Description)
    </h4>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Tâche
            </th>
            <th>
                Description
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="show-task-todo">
        @foreach (var task in Model.Tasks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => task.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => task.Description)
                </td>
                <td>
                    <a asp-controller="Tasks" asp-action="Edit" asp-route-id="@task.Id">Modifier</a> |
                    @*<a asp-controller="Tasks" asp-action="Details" asp-route-id="@task.Id">Détails</a> |*@
                    <a asp-controller="Tasks" asp-action="Delete" asp-route-id="@task.Id">Supprimer</a>
                </td>
            </tr>
        }

    </tbody>
</table>


@*Bouton ajouter une tâche*@
<div class="row">
    <div class="d-flex align-items-center justify-content-between col-sm-12">
        <a asp-action="Index" style="float:right;" class="btn btn-warning">Retour aux Todos</a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#add-task-todo" aria-expanded="false" aria-controls="collapseExample">
            Ajouter une tâche
        </button>
    </div>
</div>

<!-- Add jquery/ajax button to create a new task directly assigned to the todo -->
<div class="row">
    <div class="collapse col-sm-12 mt-3" id="add-task-todo">
        <div class="card card-body" id="task-new">
            <form id="task-todo-add">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" id="todoId" name="todoId" value="@Model.Id" class="hidden" />
           
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" id="title" class="form-control" value="" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-10">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" id="description" value="" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-sm-12 d-flex justify-content-end align-items-end m-0">
                    <button id="add-task-todo-button" class="btn btn-success disabled" disabled type="button">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>

<environment include="Development">
    <script src="~/js/tasksTodo.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
</environment>